<div *ngIf="state() as state" class="container">

  <div class="row">
    <ng-container [ngSwitch]="state.httpState.status">
      <!-- loading -->
      <ng-container *ngSwitchCase="'loading'">
        <button class="btn btn-primary" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </ng-container>

      <!-- error -->
      <ng-container *ngSwitchCase="'error'">
        <div class="alert alert-danger" role="alert">
          Error: {{ state.httpState.message }}
        </div>
      </ng-container>

      <!-- success -->
      <ng-container *ngSwitchDefault>
        <!-- user profile card -->
        <div *ngIf="user() as user" class="row">
          <gu-user-profile-card [user]="user"></gu-user-profile-card>
        </div>
      </ng-container>

    </ng-container>

  </div>

  <!-- navigation buttons -->
  <div class="row pt-3">
    <div class="d-flex justify-content-center align-items-center text-white">
      <span
        class="nav-button text-white"
        [class.disabled]="user()?.id === 1 || state.httpState.status === 'loading'"
        (click)="viewPrevProfile()"
      >
        < Back
      </span>
      <div class="bg-white mx-4" style="width: 1px; height: 14px"></div>
      <span
        class="nav-button text-white"
        [class.disabled]="state.httpState.status === 'loading'"
        (click)="viewNextProfile()"
      >
        Next >
      </span>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <span
        class="nav-button text-white"
        [routerLink]="['/users']"
      >
        Go to User List Page
      </span>
    </div>
  </div>

</div>
